{:aliases {:dev {:extra-paths ["test/clj" "dev"]}
           :server {:main-opt ["-m" "cj.system"]}}

 :deps {org.clojure/clojure     {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.879"}

        ring/ring-jetty-adapter {:mvn/version "1.8.1"}

        ; System
        integrant/integrant     {:mvn/version "0.8.0"}
        integrant/repl          {:mvn/version "0.3.2"}

        ; Routing lib
        metosin/reitit          {:mvn/version "0.5.11"}

        ; DB
        seancorfield/next.jdbc  {:mvn/version "1.1.613"}
        org.xerial/sqlite-jdbc  {:mvn/version "3.32.3.2"}}

 :paths ["src/clj" "test/clj" "resources"]}
